.posterWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 100px;
    gap: 2rem;
    margin: auto;
    margin-top: 20px;
    .indhold {
        
        img {
            max-width: 300px;
            width: 100%;
        }
    }
    
}