@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Titillium+Web:wght@300;400;600;700;900&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: #5c1f06;
    font-family: 'Titillium Web', sans-serif;
}

#root {
    margin: 0 auto;
    background-color: white;
    height: 100%;
    max-width: 1400px;
    width: 100%;
    padding: 40px;
    padding-top: 0;
}