.navMain {
    
    ul {
        display: flex;
        list-style: none;
        gap: 1rem;
        padding-right: 10px;
        li {
            margin-left: 40px;
            a {
                text-decoration: none;
                font-size: 1.2rem;
                color: black;
            }
        }
    }
}